.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}

.container {
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 30px;
}

.item {
    width: 325px;
    margin-top: 30px;
}

.charactersInfo {
    width: 1200px;
    background-color: rgb(0, 0, 255, 0.5);
    border: 8px solid blue;
}

.name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 15px;
}

.mainTitle {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 15px;
}

.content {
    display: flex;

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.infoImageBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border: 8px solid blue;
    margin-left: 60px;
}

.missingImageText {
    width: 80%;
    font-size: 30px;
}

.infoImage {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 30px;
}

.infoLine {
    font-size: 25px;
    padding-bottom: 8px;
}

.infoLine .link:not(:last-child):after {
    content: ', ';
    margin-right: 5px;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: yellow
}