.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentLines {
    width: 400px;
    margin-top: 50px;
    background-color: rgb(0, 0, 255, 0.5);
    border: 8px solid blue;
}

.name {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 15px;
}

.mainTitle {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 25px;
}

.name:hover {
    cursor: pointer;
    color: yellow;
}

.container {
    width: 1200px;
    background-color: rgb(0, 0, 255, 0.5);
    border: 8px solid blue;
}

.cardsContainer {
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 30px;
}

.infoImageBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border: 8px solid blue;
    margin-left: 60px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.infoImageBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 500px;
    border: 8px solid blue;
    margin-left: 70px;
    margin-bottom: 30px;
}

.infoImage {
    width: 100%;
    height: 100%;
}

.missingImageText {
    width: 80%;
    font-size: 30px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 30px;
    padding-bottom: 20px;
}

.infoLine {
    display: flex;
    color: white;
    font-size: 25px;
    padding-bottom: 8px;
}

.infoLine .link:not(:last-child):after {
    content: ',';
    margin-right: 10px;
}

.loader {
    --b: 10px;
    /* border thickness */
    --n: 10;
    /* number of dashes*/
    --g: 10deg;
    /* gap  between dashes*/
    --c: white;
    /* the color */

    width: 30px;
    /* size */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    /* get rid of bad outlines */
    background: conic-gradient(#0000, var(--c)) content-box;
    --_m:
        /* we use +/-1deg between colors to avoid jagged edges */
        repeating-conic-gradient(#0000 0deg,
            #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
            #0000 calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
        radial-gradient(farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
}

@keyframes load {
    to {
        transform: rotate(1turn)
    }
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: yellow
}



.item {
    width: 325px;
    margin-top: 30px;
}