.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.mainHeader {
  display: flex;
  justify-content: center;
}

.backButtonWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.backButton {
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-left: 30px;
  background-color: rgb(0, 0, 255, 0.5);
  border: 4px solid blue;
  border-radius: 10px;
}

.arrow {
  width: 60%;
  height: 100%;
}

.cardImage {
  border: 5px solid gray;
}

.item {
  width: 325px;
}