.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 15px;
}

.mainTitle {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 15px;
}

.name:hover {
    cursor: pointer;
    color: yellow;
}


.container {
    width: 1200px;
    background-color: rgb(0, 0, 255, 0.5);
    border: 8px solid blue;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.infoImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 500px;
    border: 8px solid blue;
    margin-left: 30px;
}

.missingImageText {
    width: 80%;
    font-size: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 30px;
}

.infoLine {
    font-size: 25px;
    padding-bottom: 8px;
}

.infoLine .link:not(:last-child):after {
    content: ',';
    margin-right: 5px;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: yellow
}